.Wdate {
    border: #D4D4D4 1px solid;
    height: 26px;
    line-height: 26px;
    background: #fff url(datePicker.gif) no-repeat right;
    padding-left: 1px;
    font-size: 14px;
    border-radius: 5px 5px 5px 5px;
}

.Wdate::-ms-clear {
    display: none;
}

.WdateFmtErr {
    font-weight: bold;
    color: red;
}